body {
    margin:0;
    font-family: Arial;
    background: linear-gradient(135deg,#667eea,#764ba2);
    color:white;
}

.container {
    width:400px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    color:black;
    text-align:center;
}

input {
    width:90%;
    padding:10px;
    margin:10px 0;
}

button {
    padding:10px 20px;
    background:#667eea;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
}


