body {
    margin:0;
    font-family: Arial;
    background: linear-gradient(135deg,#667eea,#764ba2);
}

.container {
    max-width:500px;
    margin:80px auto;
    background:white;
    padding:40px;
    border-radius:10px;
}

input, button {
    width:100%;
    padding:10px;
    margin:10px 0;
}
button {
    background:#667eea;
    color:white;
    border:none;
}
nav {
    background:#333;
    padding:10px;
    text-align:center;
}
nav a {
    color:white;
    margin:10px;
}
